<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Profile Distributor</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="profile()" [formGroup]="profileForm">
                            <div class="row">
                                <!-- <select [(ngModel)]="options"  class="" >
                                     
                                        <option selected="selected" disabled>Select Principal</option>   
                                        <option *ngFor="let option of options" [ngValue]="option">{{option.name}}</option>
                                   
                                </select> -->
                                <mat-form-field *ngIf="profileserv.categories | async as data" class="col-md-10">
                                    <mat-label>Select Principal</mat-label>
                                    <mat-select [(ngModel)]="selectedOption" formControlName="principal">
                                        <mat-option *ngFor="let option of data" [value]="option.id">
                                            {{option.customerID}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <!-- <div class="col-md-10">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Select Principal" type="dropdown">
                                    </mat-form-field>
                                  </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Enter Distributor Name" formControlName="DistributorName" type="text">
                                        <span *ngIf="DistributorName.touched && DistributorName.invalid && DistributorName.hasError('required')" class="small text-danger">DistributorName is required</span>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Enter Distributor Facility NUBAN" formControlName="DistributorFacNUBAN" type="text">
                                        <span *ngIf="DistributorFacNUBAN.touched && DistributorFacNUBAN.invalid && DistributorFacNUBAN.hasError('required')" class="small text-danger">DistributorFacNUBAN is required</span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Enter Distributor Code" formControlName="DistributorCode" type="text">
                                        <span *ngIf="DistributorCode.touched && DistributorFacNUBAN.invalid && DistributorFacNUBAN.hasError('required')" class="small text-danger">Distributor Code is required</span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Enter Distributor Email" formControlName="DistributorEmail" type="email">
                                        <span *ngIf="DistributorEmail.touched && DistributorEmail.invalid && DistributorFacNUBAN.hasError('required')" class="small text-danger">Distributor Email is required</span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>