<div class="main-content">
    <div class="container-fluid">
        <!-- TOP VIEW COMPONENT STARTS HERE -->
        <app-topview [prinForm]="prinForm" [disForm]="disForm" [startDate]="startDate" [endDate]="endDate"
            (triggerFilter)="getStockDetails()">
        </app-topview>
        <!-- TOP VIEW COMPONENT ENDS HERE-->

        <!-- FETCH STOCK COMPONENT STARTS HERE -->
        <app-creditfacility [allStocks$]="allStocks$"></app-creditfacility>
        <!-- FETCH STOCK COMPOENT ENDS HERE-->
        <!-- <div class="row">
            <div class="col-md-3">
                <mat-form-field class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="websiteViewsChart">
                            <mat-label>Principal</mat-label>
                        </div>
                    </div>
                    <div class="card-body">
                        <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </div>

                </mat-form-field>

            </div>
            <div class="col-md-3">
                <mat-form-field class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="websiteViewsChart">
                            <mat-label>Distributors</mat-label>
                        </div>
                    </div>
                    <div class="card-body">
                        <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </div>

                </mat-form-field>

            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart">
                            Calender
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="card-body">

                                <input matInput [matDatepicker]="picker1" placeholder="Start date">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="card-body">
                                <input matInput [matDatepicker]="picker2" placeholder="End date">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-lg-8 col-md-14">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Amount Utilized</h4>
                        <p class="card-category">Total amount utilized by months</p>
                    </div>
                    <apx-chart [series]="options.series" [chart]="options.chart" [labels]="options.labels"></apx-chart>
                </div>
            </div>
            <div class="col-lg-4 col-md-10">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Percentage Efficiency</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="row" style="padding: 18% 0;">
                        <div class="col-md-12">
                            <apx-chart [series]="options3.series" [chart]="options3.chart" [labels]="options3.labels">
                            </apx-chart>
                        </div>
                        <!-- <div class="col-md-4">
                            <apx-chart [series]="options2.series" [chart]="options2.chart"></apx-chart>
                        </div>
                        <div class="col-md-4">
                            <apx-chart [series]="options2.series" [chart]="options2.chart"></apx-chart>
                        </div> -->
                    </div>
    
                </div>
            </div>

        </div>
        
        
        <div *ngIf="mnthlyStocks$ | async as data ">
            <div class="row" >
                <div class="col-lg-8 col-md-14">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Monthly Stock</h4>
                            <p class="card-category">Total Stock Information by Months </p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            Month
                                        </th>
                                        <th>
                                            Stock Value
                                        </th>
                                        <th>
                                            Trade Debt
                                        </th>
                                        <th>
                                            Trade Stock
                                        </th>
                                    </thead>
                                    <tbody *ngFor="let tdata of data">
                                        <tr>
                                            <td>
                                                {{tdata.month}}
                                            </td>
                                            <td>
                                                {{tdata.stockValue | currency:"&#8358;":"symbol"}}
                                            </td>
                                            <td>
                                                {{tdata.tradeDebt | currency:"&#8358;":"symbol"}}
                                            </td>
                                            <td>
                                                {{tdata.totalStock | currency:"&#8358;":"symbol"}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-10">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Percentage Utilization</h4>
                            <p class="card-category"></p>
                        </div>
        
                        <div class="row" style="padding: 18% 0;">
                            <div class="col-md-12">
                                <apx-chart [series]="options2.series" [chart]="options2.chart" [labels]="options2.labels">
                                </apx-chart>
                            </div>
                            <!-- <div class="col-md-4">
                                        <apx-chart [series]="options2.series" [chart]="options2.chart"></apx-chart>
                                    </div>
                                    <div class="col-md-4">
                                        <apx-chart [series]="options2.series" [chart]="options2.chart"></apx-chart>
                                    </div> -->
                        </div>
        
        
        
                    </div>
                </div>
            </div>
            
        </div>
            
        </div>
    </div>
