<div class="row">
        <div class="col-md-3" *ngIf = "!isStaff">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="websiteViewsChart">
                        Principal
                    </div>
                </div>
                <mat-form-field *ngIf="profileserv.categories | async as data" class="card-body">
                    <mat-label>Principals</mat-label>
                    <mat-select (selectionChange) = "onSelected($event.value)" [formControl]="prinForm">
                        <mat-option *ngFor="let food of data" [value]="food.customerID">
                            {{food.customerID}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-3" *ngIf = "isDistributor">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="websiteViewsChart">
                        Distributors
                    </div>
                </div>
                <mat-form-field  class="card-body">
                    <mat-label>Distributors</mat-label>
                    <mat-select [formControl]="disForm" [disabled] = "disabledistdrp">
                        <mat-option *ngFor="let food of distributors" [value]="food.distributorCode">
                            {{food.distributorName}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="completedTasksChart">
                        Calender
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="card-body" (click)="picker1.open()">

                            <input matInput [formControl]="startDate" [max]="toDate.value" [matDatepicker]="picker1" placeholder="Start date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="card-body" (click)="picker2.open()">
                            <input matInput [formControl]="endDate" [matDatepicker]="picker2" placeholder="End date">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                                <button type="button" class="btn btn-md btn-primary" (click)="getStockDetails()">filter</button>
                        </div>                       
                    </div>
                </div>
            </div>

        </div>
    </div>
    